<%- include('pre_header') -%>
  
  <title>Home</title>

  <%- include('post_header') -%>
  
  <header>
    <h1>OAuth Exercise</h1>
    <h2>Home Page</h2>
  </header>
  <main>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas vel perspiciatis optio magnam. Repudiandae impedit dicta at, saepe rem quidem, placeat minus accusantium, nobis eaque sapiente doloremque voluptatum ab? Sit.</p>
  </main>

</body>
</html>