<%- include('pre_header') -%>

  <title>Login</title>

  <%- include('post_header') -%>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <!-- <li><a href="/auth/logout">Logout</a></li> -->
      <li><a href="/auth/login">Login</a></li>
    </ul>
  </nav>

  <header>
    <h1>Login using...</h1>
  </header>
  <main>
    <a class="google-btn" href="/auth/google">Google+</a>
  </main>


</body>
</html>