<%- include('pre_header') -%>

  <title>Login</title>

  <%- include('post_header') -%>

  <header>
    <h1>Login using...</h1>
  </header>
  <main>
    <a class="google-btn" href="/auth/google">Google+</a>
  </main>


</body>
</html>